.leftbar_container {
  width: 20%;
}

.flex-column {
  background-color: rgb(217, 214, 208);
  width: 6rem;
  height: 100vh;
  margin-left: -9px;
}
.maillink {
  margin: 1rem;
  text-decoration: none;
  color: rgb(103, 97, 97);
  line-height: 1.5rem;
}
.maillink:hover {
  color: rgb(64, 62, 60);
}
.maillink span {
  margin-left: 4px;
  color: red;
  font-weight: bolder;
  vertical-align: top;
}
/*for EmailList */
.mailList {
  background-color: aliceblue;
  height: 100vh;
  cursor: pointer;
  gap: 1rem;
}
.mailList li {
  border-bottom: 1px solid blue;
}
.mailList li:hover {
  color: black;
  background-color: rgb(191, 198, 198);
}
